body {
 
  background-image: url('https://img.freepik.com/premium-vector/cybersecurity-information-network-protection-future-technology-web-services-business-internet-project_118331-1172.jpg?semt=ais_hybrid&w=740');
  background-repeat: no-repeat;
  background-size: cover;
}

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.form-container {
  background: rgb(179, 209, 248);
  padding: 30px 40px 30px;
  width: 100%;
  max-width: 400px;
  
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #111827;
}

.form-field label {
  display: block;
  margin-bottom: 8px;
  font-size: 25px;
  color: #374151;
  font-style: bold ;
}

.form-field input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  transition: border 0.2s;
  font-size: 16px;
}

.form-field input:focus {
  border-color: #2563eb;
  outline: none;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}


@media (max-width: 480px) {
  .form-container {
    padding: 20px;
    border-radius: 12px;
  }

  .form-field input {
    font-size: 14px;
    padding: 8px 10px;
  }
}